* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #c7a2fd;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  ); */
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Unbounded", cursive;
  background-image: url(../img/52943362.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 11%;
}

.container {
  margin: 0 auto;
  width: 28%;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 21px 0px;
}

img {
  width: 357px;
}

.inputeText {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input.middle:focus {
  outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
select,
textarea {
  color: #9f7ee7;
}

textarea:focus,
input:focus {
  color: #9f7ee7;
}

/* .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: #6dd6d1;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa,
    inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
  font-family: "Damion", cursive;
  color: white;
  font-size: 20px;
  transition: 500ms;
}

button:hover {
  border: 2px solid #6dd6d1;
  animation: hueRotation 2s linear infinite;
}

@keyframes hueRotation {
  to {
    filter: hue-rotate(360deg);
  }
}

button:focus {
  outline: none;
} */

button {
  margin-left: 10px;
  padding: 6px 30px;
  border-radius: 67px;
  border: none;
  font-family: inherit;
  color: #9f7ee7;
  background-color: #ffffff69;

  box-shadow: 0px 0px 16px 5px #ffffffad;
  border: 1px solid #ffffff54;
  font-size: 17px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

input {
  padding: 20px 30px;
  width: 86%;
  background-color: #f9f9f966;
  border-radius: 55px;
  border: none;
  font-family: inherit;
  color: #383838;

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;

  box-shadow: 0px 0px 16px 5px #ffffffad;
  border: 1px solid #ffffff54;
  font-size: 17px;
}

.no-outline:focus {
  outline: none;
}

::placeholder {
  color: #9f7ee7;
}

.task {
  background-color: #f6edf152;
  border-radius: 45px;
  min-height: 453px;
  box-shadow: 0px 0px 16px 5px #ffffffad;
  /* -webkit-box-shadow: 5px 5px 15px 5px #ba95fc94;
  box-shadow: 5px 5px 15px 5px #ba95fc94; */
}

ul {
  padding: 30px;
}

li {
  list-style: none;
  margin: 27px 0px;
  padding: 20px;
  background-color: #ffffffcf;
  border-radius: 45px;
  color: #9f7ee7;
  position: relative;
  height: 60px;

  box-shadow: 0px 0px 6px 3px #ffffff91;
}

i {
  float: right;
  padding: 11px;
  background-color: #d9b5fd;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 42px;
  height: 35px;
  width: 35px;
  text-align: center;
}

.testoSbarrato {
  text-decoration: line-through;
}

/* Button css */
particle {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
}

.messaggioNoTask {
  text-align: center;
  line-height: 30px;
}

.messaggioNoTask p {
  color: #9f7ee8;
  padding-top: 51px;
}

.unicorn {
  opacity: 0;
  width: 70px;
  position: absolute;
  top: 750px;
  left: 178px;

  animation-name: flyUnicorn;
  animation-duration: 8s;
}

@keyframes flyUnicorn {
  0% {
    opacity: 0;
    top: 750px;
  }

  1% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: -180px;
    opacity: 1;
  }
}

/* Media query */

/*MOBILE*/
@media only screen and (max-device-width: 767px) {
  .container {
    min-width: 100%;
    padding: 20px;
  }
}

/*TABLET - TUTTE LE VISTE*/
@media only screen and (min-device-width: 768px) and (max-width: 1279px) {
  .container {
    min-width: 100%;
    padding: 20px;
  }
}
