* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Unbounded", cursive;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 21px 0px;
}

img {
  width: 357px;
}

.inputeText {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-left: 10px;
  padding: 6px 30px;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  color: #383838;
}

.form {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

input {
  padding: 16px;
  width: 75%;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  color: #383838;
}

.task {
  background-color: #f6edf152;
  border-radius: 20px;
}

ul {
  padding: 30px;
}

li {
  list-style: none;
  margin: 5px 0px;
  padding: 10px;
  border-bottom: 1px solid grey;
  color: #383838;
}

i {
  float: right;
}

.testoSbarrato {
  text-decoration: line-through;
}
